:root {
    --header-bg-color: #fff;
    --body-bg-color: #f7f7f7;
    --footer-bg-color: #fff;
}

/* CLASS */
.container {
    margin-inline: auto;
    width: min(100% - 30px, 1080px);
}

.cart {
    margin: 0 auto;
    width: 50%;
}

.cart tr {
    height: 30px;
    line-height: 30px;
}

.cart th, .cart td {
    padding: 0px 15px;
}

.menu {
    margin: 0 auto;
}

.menu .menu-category {
    text-align: center
}

.menu tr {
    height: 40px;
}

.menu tr:hover {
    border-bottom: 1px solid #000;
}

.menu tr:hover::after {
    transition: all 1s ease-in-out;
}

.menu th, .menu td {
    padding: 15px;
    padding-bottom: 0px;
}

.underline-effect{
    display: inline-block;
    text-align: center;
    position: relative;
}

.underline-effect::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2.5px;
    background-color: rgba(128, 128, 128, 0.75);
    transition: all 0.25s ease-in-out;
}

.underline-effect:hover::after {
    width: 100%;
    left: 0;
}

.flex {
    display: flex;
}

/* HTML */
a {
    user-select: auto; /* had to add this because of my 'reset' file */
}

html {
    font-size: 15px;
}

body {
    background-color: var(--body-bg-color);
}

/* H1, H2, H3 */
h1 { font-size: 30px; }

h2 { font-size: 25px; }

h3 { font-size: 20px; }

/* HEADER */
header {
    background-color: var(--header-bg-color);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    height: 50px;
    line-height: 50px;
}

header .flex {
    justify-content: space-between;
}

header .header-title h1 {
    line-height: 50px;
}

header .header-title h1 a {
    text-decoration: none;
}

header .header-menu {

}

header .header-menu nav ul {
    display: flex;
}

header .header-menu nav ul li {
    font-size: 20px;
}

header .header-menu nav ul li + li {
    margin-left: 15px;
}

header .header-menu nav ul li a {
    color: #000;
    text-decoration: none
}

/* MAIN */
main {
    /*height: 100vh;*/
    margin: 25px 0px;
}

/* FOOTER */
footer {
    background-color: var(--footer-bg-color);
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    bottom: 0px;
    height: 100px;
    /*line-height: 100px;*/
    position: fixed;
    width: 100%
}

footer.flex {
    align-items: center;
    justify-content: center;
}

footer .container .copyright {
    text-align: center;
    /*width: 100%;*/
}
