body {
    font-size: 15px;
}

header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    height: 150px;
}

main {
    margin: 50px 0px;
}

nav, ul, li {
    margin: 0;
}

nav {
    height: 150px;
    justify-content: center;
}

nav ul li {
    /*height: 150px;*/
}

nav ul li a {
    border: 1px solid #000;
    display: inline-block;
    font-size: 30px;
    line-height: 150px;
    padding: 0px 30px;
}

p {
    margin: 0; /* delete this after reset.css from cdn is updated */
}

.flex {
    display: flex;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px 30px;
    place-content: center;
    min-height: calc(100vh - 150px - 50px - 50px);
}

.item {
    border: 1px solid rgba(128, 128, 128, 0.75);
    border-radius: 10px;
    margin: 0px;
    padding: 15px; 30px;
}

.item p:nth-child(1) {
    text-align: left;
}

.item p:nth-child(2) {
    text-align: center;
}

.item p:nth-child(3) {
    text-align: right;
}