<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/tamanchichan/cdn/favicon.ico" media="all" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tamanchichan/cdn/reset.css" media="all" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template.styles.css" asp-append-version="true" />
    <meta charset="utf-8" />
    <meta name="author" content="@@tamanchichan" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="./assets/script/index.js" defer></script>
    <title>@ViewData["Title"] - Fast Food</title>
</head>
<body>
    <header>
        <nav class="container flex">
            <ul class="flex">
                <li><a asp-action="Index" asp-controller="Home">Menu</a></li>
                <li><a asp-action="Cart" asp-controller="Home">Cart</a></li>
                <li><a asp-action="Order" asp-controller="Home">Order</a></li>
                @* <li><a asp-action="Privacy" asp-controller="Home">Privacy</a></li> *@
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    @* <footer>
        <div class="container">
            <div class="copyright">
                <p>Copyright &copy; @DateTime.Now.Year By <a href="https://github.com/tamanchichan">@@tamanchichan</a></p>
            </div>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
