@{
    ViewData["Title"] = "Home";
}

<div class="index">
    <div class="container">
        <div class="index-content grid">
            <p class="index-content-1">Welcome to</p>
            <p class="index-content-2">Fast Food</p>
            <p class="index-content-3">The perfect place to enjoy life and food</p>
        </div>
    </div>
</div>