@model List<Item>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="items">
        @foreach (Item item in Model)
        {
            <div class="item">
                <p>@item.Code</p>
                <p>@item.Name</p>
                <p>@item.Price</p>
            </div>
        }
    </div>
</div>