@model List<Item>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="items">
        @foreach (Item item in Model)
        {
            <div class="item">
                <p>@item.Code</p>
                <p>@item.Name</p>
                <p>@item.Price</p>
                <p><a asp-action="AddItemToCart" asp-controller="Home" asp-route-id="@item.Id">Add To Cart</a></p>
            </div>
        }
    </div>
</div>