@model HashSet<Order>

@{
    ViewData["Title"] = "Order";
}

<div>
    @foreach (Order order in Model)
    {
        <div class="order">
            <a asp-action="OrderDetails" asp-controller="Home" asp-route-id="@order.Id">
                <div class="flex">
                    <h3>Nº: @order.Id</h3>
                    <h4>Date: @order.DateOfCreation</h4>
                </div>
                <h4 class="order-total">Total: $@order.Total</h4>
            </a>
        </div>
    }
</div>